    <%- include("header") -%>


            <form action="/" method="post">
        <input id="city" name="city" type="text" placeholder="Enter your city">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <%- include("footer") -%>